.epg-grid {
    width: 1280px;
    height: 720px;
    color: white;
    background-color:  rgb(150, 150, 150);
    border: 1px solid black;
    overflow: hidden;
}

.epg-container {
    display: flex;
}

.epg-left {
    width: 20%;
}

.epg-right {
    width: 80%;
}

.epg-day, .epg-time {
    background-color: rgb(70, 70, 70);
}

.epg-channel {
    background-color:  rgb(100, 100, 100);
}

.epg-cell {
    height: 90px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
    font-size: 16px;
}

.epg-event {
    font-size: 14px;
}

.epg-event > p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
